body {
    margin: 20px;
    padding: 0;
    font-family: 'Itim', cursive !important;
    background-color: aliceblue;
    background-image: url("images/cute_bg.jpg");
}



h1{
    font-family: 'Itim', cursive !important;
    text-align: center;
    font-size: 100px !important;
    color: #5E4B56;
    text-shadow: 2px 2px 4px #000000;
    
}

.btn{
    color: white !important;
}
.box{
    display: inline-block
     border: solid black;
    border-color: black;
/*    padding: 5px;*/
    margin-bottom: 18px;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        transform: rotate(2deg);
}


/*Cartoon Border*/
canvas.sketch {
    display: block;
     padding: 10px;
    margin-top: -2px;
     margin-bottom: -5px;
    margin-left: -18px;
    margin-right: -18px;
     border: solid black;
    border-color: black;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
   
    background-color: white;
   
}

canvas.landing{
    
    position: absolute;
  z-index: 2;
  pointer-events: none;
    margin-top: -30px;
}




img {
    
    display: block !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
    margin-left: -18px !important;
    margin-right: -18px !important;
     border: solid black !important;
    border-color: black !important;
    border-width: 3px 4px 3px 5px !important;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95% !important;
    background-color: white !important;
    padding: 5px !important;
    
}

/*Labels for Paint Controls*/

.paint-label{
    color: #5E4B56;
   
}

